
/* Form */
#edit-instrument-wrapper,
#edit-root-wrapper,
#edit-chord-wrapper,
#chords-display-wrapper{
  float:left; 
  margin-right:10px;
}

#chords-form .form-select {
  width:150px;
}

#chords-form #edit-submit {
  margin: 0 0.5em 0.5em 0;
}